{% extends "store_base.html" %}

{% block content %}
<h1>Сreating new offer</h1>

<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.offer.label }}<br>
        {{ form.offer(class="form-control") }}<br>
        {% for error in form.offer.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.quantity.label }}<br>
        {{ form.quantity(class="form-control") }}<br>
        {% for error in form.quantity.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(class="form-control") }}<br>
        {% for error in form.location.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.contact_number.label }}<br>
        {{ form.contact_number(class="form-control") }}<br>
        {% for error in form.contact_number.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
        <p>
        {{ form.thumbnail.label }}<br>
        {{ form.thumbnail(class="form-control") }}<br>
        {% for error in form.thumbnail.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}